@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #F9FAFB;
}

input,
button {
  font-family: 'Poppins', sans-serif;
  background: none;
  border: 0;
  outline: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  /* opcional, muda a cor do texto */
}

a {
  text-decoration: none;
  background: none;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

ul,
li,
p {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
