<div class="modal">
  <div class="header">
    <span class="title">{{ mode === 'view' ? 'Visualizar Pessoa' : 'Editar Pessoa' }}</span>
  </div>
  <div class="body">
    <label><i class="ti ti-id"></i> CPF</label>
    <app-input [(ngModel)]="edited.cpf" [disabled]="mode==='view'" mask="000.000.000-00" [dropSpecialCharacters]="false"></app-input>

    <label><i class="ti ti-user"></i> Nome</label>
    <app-input [(ngModel)]="edited.nome" [disabled]="mode==='view'"></app-input>

    <label><i class="ti ti-phone"></i> Telefone</label>
    <app-input [(ngModel)]="edited.telefone" [disabled]="mode==='view'" mask="(00) 00000-0000" [dropSpecialCharacters]="false"></app-input>
  </div>
  <div class="footer">
    <app-button typeStyle="btn2" iconClass="ti ti-x" label="Fechar" (appClick)="close()"></app-button>
    <app-button *ngIf="mode==='edit'" typeStyle="btn1" iconClass="ti ti-device-floppy" label="Salvar" (appClick)="save()"></app-button>
  </div>
</div>