@use '../../../styles/styles' as *;

.btn {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 0.575rem 0.875rem;
  gap: 0.575rem;
  border-radius: 10px;
  outline: none;
}

.btn1 {
  background-color: #3b82f6;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  border: none;
}

.btn2 {
  @include hover;
  color: $color-primary;
  border: 1px solid $color-primary;
  background-color: $color-snow;
  line-height: 1.2rem;

  &:hover {
    background-color: $color-primary;
    color: $color-snow;
  }
}

.btn3 {
  @include hover;
  margin-top: 0;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-snow;
}

.btn4 {
  @include hover;
  color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-snow;
  }
}

.btn5 {
  @include hover;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  background-color: $color-secondary;
  color: $color-darkHigh;
  margin-top: 0;

  &:hover {
    background-color: #3c91e6;
    color: $color-snow;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
}
