@use '../../../styles/styles' as *;

.input {
    width: 100%;
    padding: 10px 12px;
    font-family: $font-default;
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
    line-height: 1.4;

    &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
    }
}