.input {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #e5e7eb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  padding: 0.375rem 0.775rem;
  margin-bottom: 20px;
  border-radius: 7px;
  background-color: #f3f4f9;

  &:focus {
    outline: none;
    border-color: #f79e0b;
    box-shadow: 0 0 0 2px rgba(247, 158, 11, 0.15);
  }
}
