<button
  [attr.type]="type"
  class="btn {{ typeStyle }}"
  [style.width]="width || 'auto'"
  [style.background-color]="color"
  [style.color]="textColor"
  [style.border]="border"
  [style.gap]="label ? '0.375rem' : '0'"
  [disabled]="disabled"
  (click)="onClick()"
>
  <ng-container *ngIf="iconClass; else textIcon">
    <i class="icon" [ngClass]="iconClass"></i>
  </ng-container>
  <ng-template #textIcon>
    <span *ngIf="icon" class="icon">{{ icon }}</span>
  </ng-template>
  <span class="label">{{ label }}</span>
</button>
