@use '../../styles/styles' as *;

.container {
  max-width: 1280px;
  margin: 32px auto;
  padding: 16px 20px;
  .header {
    background-color: #f9fafb;
    border: 2px solid #e5e7eb;
    border-radius: 10px 10px 0 0;
    padding: 0.175rem 0.775rem;

    .title {
      color: #111827;
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
    }
  }

  .form {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: #f9fafb;
    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    padding: 0.375rem 0.775rem 0.275rem 0.775rem;
    gap: 45px;

    label {
      display: inline-flex;
      align-items: center;
      color: #4b5563;
      gap: 4px;
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .footer {
    background-color: #f9fafb;
    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    border-radius: 0 0 10px 10px;
    padding: 0.275rem 0.775rem 0.375rem 0.775rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .tableWrap {
    overflow-x: auto;

    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 0.875rem;

      thead th {
        text-align: left;
        background-color: #f9fafb;
        color: #374151;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 12px 16px;
        font-size: 11px;
        font-weight: 700;
      }

      thead th .th-id {
        display: inline-flex;
        align-items: center;
        gap: 4px;
      }
      // Classe genérica para cabeçalhos ordenáveis
      thead th .th-sort {
        display: inline-flex;
        align-items: center;
        gap: 4px;
      }

      tbody td {
        border-bottom: 1px solid #e5e7eb;
        padding: 0.175rem 16px;
        font-size: 11px;
        font-weight: 400;
        &:last-child {
          white-space: nowrap;
        }
      }

      tbody tr {
        &:hover {
          background-color: #f3f4f6;
        }
      }

      // Ações: gap entre os botões de ícone
      .actions {
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
