<div class="modal">
  <div class="header">
    <span class="title">{{ mode === 'view' ? 'Visualizar Cliente' : 'Editar Cliente' }}</span>
  </div>
  <div class="body">
    <div class="grid">
      <div class="field">
        <label><i class="ti ti-id"></i> CPF</label>
        <app-input
          id="modal-cpf"
          name="cpf"
          type="text"
          [(ngModel)]="edited.cpf"
          [disabled]="mode === 'view'"
          mask="000.000.000-00"
          [dropSpecialCharacters]="false"
          [required]="true"
        ></app-input>
      </div>
      <div class="field">
        <label><i class="ti ti-user"></i> Nome</label>
        <app-input
          id="modal-nome"
          name="nome"
          type="text"
          [(ngModel)]="edited.nome"
          [disabled]="mode === 'view'"
          [mask]="null"
          [required]="true"
        ></app-input>
      </div>
    </div>

    <div class="field">
      <label><i class="ti ti-phone"></i> Telefone</label>
      <app-input
        id="modal-telefone"
        name="telefone"
        type="text"
        [(ngModel)]="edited.telefone"
        [disabled]="mode === 'view'"
        mask="(00) 00000-0000"
        [dropSpecialCharacters]="false"
        [required]="true"
      ></app-input>
    </div>
  </div>
  <div class="footer">
    <app-button
      typeStyle="btn1"
      iconClass="ti ti-x"
      label="Fechar"
      color="#f3f4f9"
      textColor="#374151"
      border="1px solid #e5e7eb"
      (appClick)="close()"
    ></app-button>
    <app-button
      *ngIf="mode === 'edit'"
      typeStyle="btn1"
      iconClass="ti ti-device-floppy"
      label="Salvar"
      color="#F59E0B"
      textColor="#fff"
      (appClick)="save()"
    ></app-button>
  </div>
</div>
